* {
  margin: 0;
}

#container,
#top-container,
#date-container,
#time-container,
.heading-container,
.date-div,
.time-div,
#bottom-container,
#inputs-container,
.input-container {
  display: grid;
}

#container {
  background-color: blanchedalmond;
  grid-template-rows: 1fr 3fr;
  height: 100vh;
  width: 100vw;
}

#top-container {
  grid-template-rows: 1fr 4fr;
}

#date-container,
#time-container {
  font-size: 2rem;
  grid-row: 2;
  grid-template-columns: repeat(3, 1fr);
}

.heading-container {
  align-items: center;
}

.heading {
  grid-row: 1;
  text-align: center;
}

.date-div {
  grid-row: 2;
}

.time-div {
  grid-row: 3;
}

.date-div,
.time-div {
  grid-template-columns: 1fr 1fr;
  width: 80%;
}

.time-text {
  padding-right: 1rem;
  text-align: right;
}

#bottom-container {
  grid-template-rows: 1fr 2fr;
}

#inputs-container {
  grid-template-columns: 1fr 1fr;
}

.input-container {
  align-content: start;
  justify-items: center;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

input {
  cursor: pointer;
  max-width: 10rem;
  text-align: center;
  width: 20vw;
}

button {
  width: fit-content;
}
